---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "WordPress",
    icon: "mdi:wordpress",
    url: "https://preactjs.com/",
  },
  {
    title: "Squarespace",
    icon: "frameworks/svelte",
    url: "https://svelte.dev/",
  },
  {
    title: "Shopify",
    icon: "mdi:shopping",
    url: "https://vuejs.org/",
  },
  {
    title: "Plain HTML",
    icon: "mdi:code-tags",
    url: "https://www.solidjs.com/",
  },
  {
    title: "Everything Else",
    icon: "mdi:anvil",
    url: "https://lit.dev/",
  },
];

---

<ContentSection title="Compatibility" id="compatibility">
  <Fragment slot="lead">
    Planet Caravan Analytics is designed to work with 
    <span class="text-primary">Google Tag Manager</span> & 
    <span class="text-primary">Google Analytics</span>, 
    and it can be used on pretty much
    <span class="text-primary">any website</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Frameworks"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
</ContentSection>
