---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Easy Event Tagging",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "mdi:html",
  },
  {
    title: "Custom Config",
    description:
      "Define global events in a single block of code",
    icon: "mdi:feather",
  },
  {
    title: "Sessionized UTM Data",
    description:
      "Out of the box, the plugin enables several UTM functions, including tracking them across pages.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Set up via CDN link",
    description:
      "Set up by just pasting the CDN link into your code, or load it in as a tag via Google Tag Manager.",
    icon: "mdi:graph",
  },
  {
    title: "Google Tag Manager",
    description:
      "Our code includes a pre-made GTM template.  Just import the file and you're ready to go.",
    icon: "mdi:search-web",
  },
  {
    title: "Free & Open Source",
    description:
      "We believe in contributing to the community and ecosystem of web development.  Our plugin is free for anyone to use personally or commerically.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    <span class="text-primary">Upgrade</span> 
    your analytics while  cutting your time in 
    <span class="text-primary">half</span>.
    <br/>
    Get features you 
    <span class="text-primary">wished</span> 
    were standard, and features you didn't know you 
    <span class="text-primary">needed</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
